<main class="content">

    <h1>Electron Timer</h1>

    <div class="progress-wrapper" *ngIf="maxVal">
        <div class="text" *ngIf="!isFinished">
          {{ max - current | number: '1.1-1' }}
        </div>

        <div class="text" *ngIf="isFinished">
            ding!
            <audio src="assets/chime.mp3" autoplay></audio>
        </div>

        <round-progress
                [max]="max"
                [current]="current"
                [radius]="100"
                [stroke]="25">
        </round-progress>
    </div>

    <div class="controls-wrapper">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="number of seconds" value="1" [(ngModel)]="max" (keydown)="reset()">
      </mat-form-field>
      <button mat-raised-button *ngIf="currentVal <= 0" color="primary" (click)="start()"> Start </button>
      <button mat-raised-button *ngIf="!isFinished" color="secondary" (click)="finish()"> Finished </button>
    </div>

  </main>
